# US - Baby Names

### Introduction:

We are going to use a subset of [US Baby Names](https://www.kaggle.com/kaggle/us-baby-names) from Kaggle.  
In the file it will be names from 2004 until 2014


### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/US_Baby_Names_right.csv).

In [26]:
filepaths = r'D:\Download\Exercise\Exercise\03_Stats\US_Baby_Names\us_baby.tsv'
data = pd.read_csv(filepaths, sep=',')

### Step 3. Assign it to a variable called baby_names.

In [27]:
us_baby = pd.DataFrame(data)

### Step 4. See the first 10 entries

In [10]:
print(us_baby.head(10))

    ,Id,Name,Year,Gender,State,Count
0      11349,11350,Emma,2004,F,AK,62
1   11350,11351,Madison,2004,F,AK,48
2    11351,11352,Hannah,2004,F,AK,46
3     11352,11353,Grace,2004,F,AK,44
4     11353,11354,Emily,2004,F,AK,41
5   11354,11355,Abigail,2004,F,AK,37
6    11355,11356,Olivia,2004,F,AK,33
7  11356,11357,Isabella,2004,F,AK,30
8    11357,11358,Alyssa,2004,F,AK,29
9    11358,11359,Sophia,2004,F,AK,28

### Step 5. Delete the column 'Unnamed: 0' and 'Id'

In [29]:
us_baby = us_baby.drop(columns=[col for col in ['Unnamed: 0', 'Id'] if col in us_baby.columns])

### Step 6. Is there more male or female names in the dataset?

In [31]:
gender_counts = us_baby['Gender'].value_counts()

if gender_counts['F'] > gender_counts['M']:
    print("There are more female names in the dataset.")
elif gender_counts['M'] > gender_counts['F']:
    print("There are more male names in the dataset.")
else:
    print("There is an equal number of male and female names.")

There are more female names in the dataset.

### Step 7. Group the dataset by name and assign to names

In [32]:
names = us_baby.groupby('Name')
print(names)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001B6D4628050>

### Step 8. How many different names exist in the dataset?

In [33]:
names = us_baby['Name'].nunique()
print(f"Number of unique names: {names}")

Number of unique names: 17632

### Step 9. What is the name with most occurrences?

In [ ]:
the_most_common_name = us_baby['Name'].mode()[0]  # mode() returns the most common name as a Series, so we take the first element
print(f"The most common name is: {the_most_common_name}")

The most common name is: Riley

### Step 10. How many different names have the least occurrences?

In [38]:
name_counts = us_baby['Name'].value_counts()
min_count = name_counts.min()
num_names_with_min_count = (name_counts == min_count).sum()
print(f"Number of names with the least common count ({min_count}): {num_names_with_min_count}")

Number of names with the least common count (1): 3682

### Step 11. What is the median name occurrence?

In [42]:
median_count = name_counts.median()
median_names = name_counts[name_counts == median_count].index.tolist()
print(f"Number of names with the median count ({median_count}): {median_names}")

Number of names with the median count (8.0): ['Gaelle', 'Ayannah', 'Zyanna', 'Kemya', 'Elliotte', 'Kinsler', 'Harli', 'Shelsea', 'Jediah', 'Jakya', 'Chani', 'Kunal', 'Riot', 'Curran', 'Che', 'Vanna', 'Reniyah', 'Adelie', 'Keeton', 'Polly', 'Gardenia', 'Nassir', 'Nicodemus', 'Monty', 'Trinton', 'Akari', 'Jaiven', 'Miki', 'Metztli', 'Maysen', 'Jesslynn', 'Bellah', 'Auriana', 'Arwa', 'Arsema', 'Cordero', 'Breydon', 'Yunuen', 'Kayliana', 'Kayly', 'Amaryllis', 'Jayani', 'Codey', 'Seriah', 'Saydie', 'Jamarkus', 'Ridwan', 'Yonis', 'Kenzlie', 'Nazier', 'Dua', 'Skylie', 'Joshue', 'Ediel', 'Tuff', 'Odelia', 'Noora', 'Cylas', 'Joah', 'Augusto', 'Morrison', 'Thaily', 'Issaiah', 'Malin', 'Aleana', 'Nataniel', 'Avree', 'Leylanie', 'Daleysa', 'Aidric', 'Mckenzee', 'Yliana', 'Atley', 'Braidyn', 'Dalyn', 'Otoniel', 'Kathlyn', 'Lacee', 'Makeyla', 'Jaice', 'Jaylynne', 'Jalani', 'Irais', 'Yanuel', 'Zamaya', 'Candelario', 'Aran', 'Eliab', 'Neko', 'Mackinzie', 'Fishel', 'Janeli', 'Artur', 'Keldrick', 'Hanad', 'Isrrael', 'Jamaree', 'Lenna', 'Zanaya', 'Yug', 'Sire', 'Marwan', 'Adira', 'Suki', 'Nishant', 'Blakelyn', 'Maleia', 'Mckinsey', 'Pandora', 'Ram', 'Rahman', 'Yishai', 'Sabino', 'Princesa', 'Andrae', 'Thierry', 'Alin', 'Thierno', 'Kaelee', 'Mikko', 'Hafsah', 'Ambree', 'Naraly', 'Mariann', 'Dominika', 'Signe', 'Sundus', 'Irena', 'Jennalyn', 'Jazmynn', 'Jonnathan', 'Alon', 'Khaliq', 'Denisha', 'Xitlalli', 'Elianah', 'Aziah', 'Julieana', 'Kaio', 'Larson', 'Andriana', 'Shelsy', 'Esli', 'Briyana', 'Siyona', 'Sarayu', 'Railynn', 'Azaleah', 'Lottie', 'Jacquelyne', 'Yuliza', 'Nakai', 'Hiliana', 'Kyndle', 'Alara', 'Adylene', 'Caydon', 'Alazay', 'Xzander', 'Baily', 'Chrissy', 'Han', 'Mechel', 'Tovia', 'Kynnedy', 'Ramone', 'Mattox', 'Ndeye', 'Lucus', 'Bea', 'Kimberlynn', 'Mycah', 'Mehdi', 'Katelynne', 'Sumaiya', 'Aleksey', 'Eliya', 'Nazar', 'Maurilio', 'Yvanna', 'Jeyden', 'Yanni', 'Rebecka', 'Bentleigh', 'Audrinna', 'Alaiya', 'Judas', 'Milca', 'Kaiyah', 'Jelissa', 'Theodor', 'Willian', 'Sathvik', 'Mouhamadou', 'Ivyonna', 'Lovina', 'Ivett', 'Iriana', 'Aerial', 'Kenli', 'Ranveer', 'Eladio', 'Edgard', 'Leslee', 'Karena', 'Nanci', 'Anshul', 'Katiana', 'Chazz', 'Yudith', 'Kaliana', 'Ameir', 'Annel', 'Annahi', 'Azure', 'Elizah', 'Keigan', 'Fay', 'Keylen', 'Kasie', 'Darling', 'Zari', 'Clarity', 'Emelly', 'Crista', 'Rubin', 'Dagan', 'Oluwatobi', 'Tanush', 'Daphnie', 'Elky', 'Nechuma', 'Lysander', 'Lavelle', 'Yakira', 'Romi', 'Graycen', 'Konstantin', 'Berlynn', 'Baleria', 'Ivyanna', 'Rufus', 'Zaylie', 'Jakia', 'Tj', 'Thai', 'Maika', 'Rasheen', 'Yaritzi', 'Johnatan', 'Yaira', 'Lilianne', 'Jian', 'Audryna', 'Triana', 'Aristeo', 'Jakelyn', 'Athalia', 'Anely', 'Jeilyn', 'Camiya', 'Azan', 'Woodrow', 'Deseray', 'Alysse', 'Alyn', 'Ezekial', 'Izek', 'Saketh', 'Rebel', 'Alliana', 'Lucila', 'Kaeson', 'Leni', 'Darvin', 'Embry', 'Noura', 'Sabria', 'Homer', 'Eesa', 'Anyiah', 'Gaurav', 'Lukasz', 'Amer', 'Kamaile', 'Lilinoe', 'Madix', 'Cypress', 'Erma', 'Lowell', 'Envy', 'Vlad', 'Dashel', 'Hasani', 'Makynlee', 'Shakir', 'Emmaly', 'Texas', 'Stoney', 'Ryatt', 'Jakori', 'Jakhari', 'Dillinger', 'Jenica', 'Jannelle', 'Itzell', 'Fidencio', 'Favio', 'Levin', 'Nyree', 'Sayler', 'Cecile', 'Kaileen', 'Sayed', 'Yoni', 'Elizaveta', 'Joni', 'Kimia', 'Pasquale', 'Alder', 'Yared', 'Ysabelle', 'Mariaclara', 'Lavern', 'Leighann', 'Tal', 'Ayumi', 'Egan', 'Hajar', 'Talin', 'Chastelyn', 'Jeniyah', 'Cezar', 'Brevin', 'Kristoffer', 'Dayonna', 'Riddhi', 'Armonie', 'Evanna', 'Lamiya', 'Meliah', 'Eliora', 'Suhaylah', 'Hari', 'Meleah', 'Marlenne', 'Abubakar', 'Amyri', 'Nalleli', 'Waseem', 'Srinidhi', 'Lucienne', 'Treshaun', 'Juel', 'Marquell', 'Jatziri', 'Taisha', 'Azlyn', 'Anthoni', 'Zakia']

### Step 12. What is the standard deviation of names?

In [43]:
N = us_baby['Name'].value_counts()

std_dev = N.std()
print(f"Standard deviation of name counts: {std_dev}")

Standard deviation of name counts: 122.0299635081389

### Step 13. Get a summary with the mean, min, max, std and quartiles.

In [45]:
print("The standard deviation of name counts is:", std_dev)
print("The mean of name counts is:", N.mean())
print("The median of name counts is:", N.median())
print("The mode of name counts is:", N.mode()[0])
print("The minimum of name counts is:", N.min())
print("The maximum of name counts is:", N.max())
print("The 25th percentile of name counts is:", N.quantile(0.25))

The standard deviation of name counts is: 122.0299635081389
The mean of name counts is: 57.644906987295826
The median of name counts is: 8.0
The mode of name counts is: 1
The minimum of name counts is: 1
The maximum of name counts is: 1112
The 25th percentile of name counts is: 2.0