# Student Alcohol Consumption

### Introduction:

This time you will download a dataset from the UCI.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/student-mat.csv).

In [3]:
file_path = r"D:\Download\Exercise\Exercise\05_Apply\Students_Alcohol_Consumption\student_alcohol.csv"
data = pd.read_csv(file_path, sep=",")

### Step 3. Assign it to a variable called df.

In [4]:
students = pd.DataFrame(data)

### Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [5]:
students = students.loc[:, 'school' : 'guardian']
print(students.head())

  school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  \
0     GP   F   18       U     GT3       A     4     4  at_home   teacher
1     GP   F   17       U     GT3       T     1     1  at_home     other
2     GP   F   15       U     LE3       T     1     1  at_home     other
3     GP   F   15       U     GT3       T     4     2   health  services
4     GP   F   16       U     GT3       T     3     3    other     other

   reason guardian
0  course   mother
1  course   father
2   other   mother
3    home   mother
4    home   father

### Step 5. Create a lambda function that will capitalize strings.

In [ ]:
capilize = lambda x: x.capitalize()

### Step 6. Capitalize both Mjob and Fjob

In [ ]:
students['Mjob'] = students['Mjob'].apply(capilize)
students['Fjob'] = students['Fjob'].apply(capilize)

### Step 7. Print the last elements of the data set.

In [12]:
print(students.tail())

    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
390     MS   M   20       U     LE3       A     2     2  Services  Services
391     MS   M   17       U     LE3       T     3     1  Services  Services
392     MS   M   21       R     GT3       T     1     1     Other     Other
393     MS   M   18       R     LE3       T     3     2  Services     Other
394     MS   M   19       U     LE3       T     1     1     Other   At_home

     reason guardian
390  course    other
391  course   mother
392  course    other
393  course   mother
394  course   father

### Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and capitalize Mjob and Fjob.

In [ ]:
# apply() nó chỉ trả về một Series mới, không tự động thay đổi Data gốc nếu không gán lại
# The original dataframe `data` is still lowercase because the `apply` method was applied to the `students` dataframe, 
# which is a sliced version of `data`. To fix this, we need to apply the capitalization directly to the `data` dataframe.

data['Mjob'] = data['Mjob'].apply(lambda x: x.capitalize())
data['Fjob'] = data['Fjob'].apply(lambda x: x.capitalize())

# Update the `students` dataframe to reflect the changes in `data`
students['Mjob'] = data['Mjob']
students['Fjob'] = data['Fjob']

### Step 9. Create a function called majority that returns a boolean value to a new column called legal_drinker (Consider majority as older than 17 years old)

In [21]:
legal_drinker = lambda x: x if x > 17 else 'no'
list_of_legal_drinkers = students['age'].apply(legal_drinker)
print(list_of_legal_drinkers.head(10))

0    18
1    no
2    no
3    no
4    no
5    no
6    no
7    no
8    no
9    no
Name: age, dtype: object

### Step 10. Multiply every number of the dataset by 10. 
##### I know this makes no sense, don't forget it is just an exercise

In [22]:
numeric_cols = students.select_dtypes(include=['int64', 'float64']).columns.tolist()
students[numeric_cols] = students[numeric_cols] * 10
print(students.head(10))

  school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0     GP   F  180       U     GT3       A    40    40   At_home   Teacher
1     GP   F  170       U     GT3       T    10    10   At_home     Other
2     GP   F  150       U     LE3       T    10    10   At_home     Other
3     GP   F  150       U     GT3       T    40    20    Health  Services
4     GP   F  160       U     GT3       T    30    30     Other     Other
5     GP   M  160       U     LE3       T    40    30  Services     Other
6     GP   M  160       U     LE3       T    20    20     Other     Other
7     GP   F  170       U     GT3       A    40    40     Other   Teacher
8     GP   M  150       U     LE3       A    30    20  Services     Other
9     GP   M  150       U     GT3       T    30    40     Other     Other

       reason guardian
0      course   mother
1      course   father
2       other   mother
3        home   mother
4        home   father
5  reputation   mother
6        home   mother
7        home   mother
8        home   mother
9        home   mother